<!DOCTYPE html>
<html lang="{{ site:short_locale }}">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        {{ partial:layout.meta }}

        {{ partial:layout.favicons }}

        {{ vite src="resources/js/site.js|resources/css/site.css" }}

        {{ partial:layout.analytics }}

        {{ partial:layout.schema }}

        {{ stack:head }}
    </head>

    <body>
        {{ template_content }}

        {{ stack:footer }}
    </body>
</html>
